{
	"parser":	"@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"ignorePatterns": [
		"!.dist"
	],
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended",
		"plugin:jest/recommended"
	],
	"env": {
		"node": true,
		"jest": true
	},
	"rules": {
		"@typescript-eslint/no-empty-interface": "off"
	}
}